.join-div .row{
    margin: 100px 0;
}
.join-div{
 background-color:rgb(1, 203, 225);
}
.jumbotron{
    margin: 0;
}



/* tabs styles */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: rgb(1, 203, 225);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #003755;
    color: white;
  }
  
  .default-tab{
    display:"block";
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    padding :50px;
    text-align: center; 
    background-color: #003755;
    color: white;
  }

  .col-sm-6 i{
    color: #003755 !important;
  }

  .carousel-inner{
    background-color: #003755;
  }
  .carousel-inner .item{
    background-color: #003755 !important;
    color: white;
  }
  .quotes{
    margin: 100px;
    font-size: 1.4em;
    text-align: center;
 }
 