<!DOCTYPE html>
<html lang="en">

<head>
      
     <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	 <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <meta charset="utf-8" />


     <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

	</head>

	<style>
div{
   
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 350px;
  background-color: white;
}
</style>

	<body>

		<div><font color="#007acc"><font face = "Comic sans MS" size ="5"><p>1)Spread the word about Empowerange</p><p>2)Follow us on Instagram and Twitter</p><p>3)Make donations</p><p>4)Contact us if you're an NGO and wish to collaborate with us</p></font></font></div>

		 


	</body>