<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
	 
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	

 
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	 
</head> 	 
	 
<body>	 

     <div class="jumbotron">
	    {% if registered %}
		   <p><font face = "Comic sans MS" size =" 6">Thank you for your time and efforts to make this society a better place. A small contribution from your side can bring a huge change in the society. Someone from our side will get in touch with you soon.</font><p>
		
		{% else %}
		  <h1>Register yourself for Volunteering</h1>
		
		


     <form method="post">
	    {% csrf_token %}
		{{ user_form.as_p }}
     <input type="submit" name="" value="Register as a Volunteer">

     {% endif %}

     </div> 

     
     </form>

</body>
</html> 