<!DOCTYPE html>
<html lang="en">

<head>
      
     <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	 <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 
	 
  
    
 <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='/'><span class="text-white">Home</span></a></button></font>  

       <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='aboutus/'><span class="text-white">About us!</span></a></button></font> 

   
     <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='Mission/'><span class="text-white">Our Mission</span></a></button></font>  

   
      <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='partners/'><span class="text-white">Our Partners</span></a></button></font>  

   
     <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='blogs/'><span class="text-white">Read Blogs</span></a></button></font>  

   
     <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='cities/'><span class="text-white">Cities that we cover!</span></a></button></font>  

   
      <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='work/'><span class="text-white">Know how we work?</span></a></button></font>  

   
     <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='contributions/'><span class="text-white">Make Contributions for Empowerange</span></a></button></font>  

   
   <font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='team/'><span class="text-white">Know our Team</span></a></button></font>  
 
 <!--font face = "Comic sans MS" size =" 6"><button type="button" class="btn btn-info"><a href ='contactus/'><span class="text-white">Contact us</span></a></button></font-->
 
 

 


 
 
 
 
	 
	<meta charset="utf-8" />
	
	<div class="container-fluid" style="min-height:100%; ">
	   <div class="page-header">
<h1><span class="d-block p-2 bg-#ff0000 text-white" hspace="30"><div class="mx-auto" style="width: 300px;"><font face = "Comic sans MS" size =" 7"><p class="font-weight-bold"><p><span style='color: white'>E</span><span style='color: white'>M</span><span style='color: white'>P</span><span style='color: white'>O</span><span style='color:white '>W</span><span style='color:white '>E</span><span style='color: white '>R</span><span style='color: white '>A</span><span style='color: white '>N</span><span style='color: white '>G</span><span style='color: white '>E</span></p></p></div></span></font></h1>
</div>


</head> 
		
			
			  
			  
			  
			  
			  
			  
			 
				  
				  
				  
		  <div class="col-sm-12">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	
	
	<footer>
	 
	 
		<div class="container-fluid" style='background-color:#ffffff'   >
			<!--p><a href="#" target="blank">Email</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div-->
	</footer>	
	
	 
 
	
	
</body>

</html>