{% extends "personal/header.html " %}
{% block content %}


{% load staticfiles %}
<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css'%}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	
	
	<style type="text/css">
		html,
		body {
		  background-image: url("https://i.postimg.cc/TYWj8BVt/20180916_200258.png");
		  
		  background-size: cover;
		  background-position: center;
		   background-attachment: fixed;
		   
		  height:100%; 
		  width:100%; 
		}
		
		     .jumbotron{
    background-color:#002e4d;
    color:white;
     width:1275px; 	} 
	
	.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0; } 
	   /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


 #myHeader{
    background-color: white;
    color: black;
    padding: 40px;
    text-align: center;
} 

 
.carousel-inner img {
      width: 600px;
      height: 400px;
  }
   
   .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #ddd;
    color: black;
}
   
p.ex1 {
    margin-top: 25px;  } 

img.ex2 { float:right; }



	
	</style>
</head>


		
		<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
  
       
    <div class="carousel-item active"> 
      <img src="{% static 'personal/img/profile.jpg' %}" alt="face" width="500" height="300" hspace="20">
      <img src="{% static 'personal/img/E1.jpg' %}" alt="face" width="500" height="300">
     
	  
    </div> 
	
    <div class="carousel-item">
      <img src="{% static 'personal/img/E2.jpg' %}" alt="face" width="500" height="300" hspace="20">
      <img src="{% static 'personal/img/E4.jpg' %}" alt="face" width="500" height="300">
     
	   
    </div>
	
    <div class="carousel-item">
      <img src="{% static 'personal/img/E3.jpg' %}" alt="face" width="500" height="300" hspace="20">
      <img src="https://i.postimg.cc/vTpmFy5w/beachcleanup.jpg" alt="face" width="500" height="300">
     
	   
    </div>
	
	 <div class="carousel-item">
      <img src="{% static 'personal/img/E5.jpg' %}" alt="face" width="500" height="300" hspace="20">
      <img src="{% static 'personal/img/E6.jpg' %}" alt="face" width="500" height="300">
     
	  
    </div>
	
  </div> 
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			   <div class="row">
			  <div class="col-sm-12"> 
				  <br>
				  <!--center-->
				  <div class="jumbotron jumbotron-fluid" hspace="20"> 
            <img src="{% static 'personal/img/p4.jpg' %}" class="ex2" width="500" height="400">
				   <div class="container-fluid">

				  <h3> <p> <font face = "Comic sans MS" size =" 6">The Motto of our Project EMPOWERANGE</font> </p>
				  <p><i class="fa fa-users" style="font-size:30px"><font face = "Comic sans MS" size =" 6"> Empowering people</font></i></p>
				  <p><i class="fa fa-handshake-o" style="font-size:30px"><font face = "Comic sans MS" size =" 6"> Connecting with NGOs</font></i></p>
				  <p><i class="fa fa-line-chart" style="font-size:30px"><font face = "Comic sans MS" size =" 6"> Representing the Change!</font></i></p>
				  </div> </div> 
				  </div>  </h3> </div> 

          <
				   
				   



    <div class="mx-auto" style="width: 1275px;">
<!--h2 style="background-color:#ffffff;">Have a look at how our Country is evolving,the changes happening and the massive transformation with the help of these Graphs</h2-->
<h2 id="myHeader"><font color="#003d66"><font face = "Comic sans MS" size =" 6">Have a look at how our Country is evolving,the changes happening and the massive transformation with the help of these Graphs</font></h2>
 </div></font> 
 
 
 
  <div id="chart-carousel" class="carousel slide" data-ride="carousel">
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">  
      <div id="chartContainer1" class="chart" style="width:100%; height:500px;"></div>
    </div>
    <div class="carousel-item">
      <div id="chartContainer2" class="chart" style="width:100%; height:500px;"></div>
    </div>
    <div class="carousel-item">
     <div id="chartContainer3" class="chart" style="width:100%; height:500px;"></div>
    </div>
  </div>
 
 <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#chart-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#chart-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> <!-- Carousel -->

<script> 
var charts = [];
var chart, width, width;

width = $('#chart-carousel').width();
height = $('#chart-carousel').height();

$('.carousel').carousel({
    interval: 2000
});

chart = new CanvasJS.Chart("chartContainer1",
{
    title:{
        text: "Literacy rate of India over the years (In %)"
    },
    width: width,
    height: height, 
    data: [{        
        type: "column",
        dataPoints: [
            { x:1981 , y:40.76, color:"#008ae6" },
            { x:1986, y:44.49, color:"#008ae6"},
            { x: 1991, y: 48.82, color:"#008ae6" },
            { x: 1996, y: 54.62, color:"#008ae6" },
            { x: 2001, y: 61.01, color:"#008ae6" },
            { x: 2006, y: 62.75, color:"#008ae6" },
            { x: 2011, y: 69.30, color:"#008ae6" },
            { x: 2020, y: 77.76, color:"#4db8ff" },
            { x: 2025, y: 82.65, color:"#4db8ff"},
			 { x: 2030, y: 87.64, color:"#4db8ff"},
			 { x: 2035, y: 92.63, color:"#4db8ff"},
			  { x: 2040, y: 97.62, color:"#4db8ff"},
			   { x: 2042, y: 99.60, color:"#4db8ff"} 
        ]
    }
    ]
});
chart.render();
charts.push(chart);

chart = new CanvasJS.Chart("chartContainer2",
{
    title:{
        text: "Female Literacy Rate in India over the years (In %)"
    }, 
    width: width,
    height: height,
    data: [{               
    type: "column",
        dataPoints: [
             { x:1981 , y:25.68, color:"#004d80" },
            { x:1986, y:29.70, color:"#004d80"},
            { x: 1991, y: 33.73, color:"#004d80" },
            { x: 1996, y: 54.62, color:"#004d80" },
            { x: 2001, y: 47.84, color:"#004d80" },
            { x: 2006, y: 50.82, color:"#004d80" },
            { x: 2011, y: 59.28, color:"#004d80" },
            { x: 2020, y: 66.74, color:"#66c2ff" },
            
			 { x: 2030, y: 77.97, color:"#66c2ff"},
			  
			  { x: 2040, y: 89.20, color:"#66c2ff"},
			   { x: 2049, y: 99.30, color:"#66c2ff"} 
        ]
    }
    ]
});
chart.render();
charts.push(chart);

chart = new CanvasJS.Chart("chartContainer3",
{
    title:{
        text: "Children out of School - Primary (In million)"
    }, 
    width: width,
    height: height,
    data: [{               
        type: "column",
        dataPoints: [
            { x:1971 , y:27.93, color:"#008ae6" },
            { x:1976, y:26.85, color:"#008ae6"},
            { x: 1981, y: 25.72, color:"#008ae6" },
            { x: 1986, y: 24.69, color:"#008ae6" },
            { x: 1991, y: 23.34, color:"#008ae6" },
            { x: 1996, y: 20.93, color:"#008ae6" },
            { x: 2001, y: 19.17, color:"#008ae6" },
			{ x: 2003, y: 13.73, color:"#008ae6" },
            { x: 2006, y: 6.68, color:"#4db8ff" },
            { x: 2008, y: 5.60, color:"#4db8ff"},
			 { x: 2010, y: 4.80, color:"#4db8ff"},
			 { x: 2012, y: 3.82, color:"#4db8ff"},
			  { x: 2013, y: 2.89, color:"#4db8ff"}
			   
        ]
    }
    ]
});
chart.render();
charts.push(chart);

$(window).resize(function() {
    for(var i = 0; i < charts.length; i++) {
        charts[i].options.width = $('.carousel').width();
        charts[i].options.height = $('.carousel').height();
        charts[i].render();
    }
});
</script> 


  
 
<button type="button" class="block"><a href="ngos/" ><font face = "Comic sans MS" size =" 5">Check how you can contribute to make this society a better place</font></a></button>
 
 
 
 
 
 
 
 
 
 
{% include "personal/includes/htmlsnippet.html" %} 
	   {% endblock %}	