<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
	 
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	

 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	 
<style>
p.ex1 {
    margin-bottom: 25px;
	 
}
</style>

</head>

<body>
      
	 <!-- deck 1 -->
	  
     <div class="card-deck">
 
	<div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://i.postimg.cc/NjG2f9pZ/africa-animal-barbaric-469778.jpg" alt="Card image cap">
     <div class="card-body">
     <h5 class="card-title">Save Sumatran Rhinos</h5>
     <p class="card-text">Rhinos in Sumatra are on the verge of getting endangered. They need your help. Please, contribute in whatever way you can.</p>
      
	   <!-- dropdown -->
     <div class="btn-group">
     <button type="button" class="btn btn-primary">Contribute</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="sr-only">Toggle Dropdown</span>
     </button>
     <div class="dropdown-menu">
     <a class="dropdown-item" href="#">Conduct City Campaigns</a>
     <a class="dropdown-item" href="#">Conduct Social Media Campaigns</a>
     <a class="dropdown-item" href="#">Write articles</a>
	<a class="dropdown-item" href="#">Technical Support</a>
	<a class="dropdown-item" href="#"></a>
	<a class="dropdown-item" href="">Volunteer in Sumatra</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="volunteer/">Donate Money</a>
     </div>
     </div>
	 
     </div>
     </div>

	 
	 

     <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://i.postimg.cc/CxMnXTq1/bottles-container-daylight-802221.jpg" alt="Card image cap">
     <div class="card-body">
     <h5 class="card-title">Plastic Free City</h5>
     <p class="card-text">Help us to make the cities plastic free. Plastic causes a great environmental pollution affecting the lives of humans and animals. Your small contribution is precious.</p>
	 
	 <!-- dropdown -->
     <div class="btn-group">
     <button type="button" class="btn btn-primary">Contribute</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="sr-only">Toggle Dropdown</span>
     </button>
     <div class="dropdown-menu">
     <a class="dropdown-item" href="#">Participate in City awareness Campaigns</a>
     <a class="dropdown-item" href="#">Conduct a Social Media Campaign</a>
     <a class="dropdown-item" href="#">Participate in Plastic city clean-up</a>
     <a class="dropdown-item" href="volunteer/">Volunteer</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="#">Donate Money</a>
     </div>
     </div>
     
     </div>
     </div>
	 
	 
	 
	 
	 
	<div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://i.postimg.cc/FsfxZgrk/unicef_india_image.jpg" alt="Card image cap">
     <div class="card-body">
     <h5 class="card-title">Help us to educate every kid in the society</h5>
     <p class="card-text">Still, a some part of kids in the society don't have an access to the good education. Giving them an access to a good education will turn them into a bright responsible youth of our country. A small contribution from your side can change their life.</p>
     
	  <!-- dropdown -->
     <div class="btn-group">
     <button type="button" class="btn btn-primary">Contribute</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="sr-only">Toggle Dropdown</span>
     </button>
     <div class="dropdown-menu">
     <a class="dropdown-item" href="#">Conduct a Social Media awareness campaign</a>
     <a class="dropdown-item" href="#">Participate in the awareness campaign in the city</a>
     <a class="dropdown-item" href="#">Donate Books</a>
     <a class="dropdown-item" href="#">Donate Clothes(Uniforms)</a>
     <a class="dropdown-item" href="#">Donate Stationery</a>
     <a class="dropdown-item" href="#">Donate Furniture</a>
     <a class="dropdown-item" href="#">Donate equipments like Computers, or other things that you wish.</a>
     <a class="dropdown-item" href="volunteer/">Volunteer as a Teacher</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="#">Donate Money</a>
     </div>
     </div>
	 
     </div>
     </div>

     </div>
	 
	 
	 
	 
	 
	 <!-- deck 2 -->
	 
	 
	<div class="card-deck">
 
	<div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://i.postimg.cc/RF4W39FL/Women-_Empowerment.jpg" alt="Card image cap">
     <div class="card-body">
     <h5 class="card-title">Help us in empowering women in the society</h5>
     <p class="card-text">Contribute in empowering every women in the society, so that they get an access to every opportunity out there. Help us to develop their skills so that they can become independent.</p>
      
	   <!-- dropdown -->
     <div class="btn-group">
     <button type="button" class="btn btn-primary">Contribute</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="sr-only">Toggle Dropdown</span>
     </button>
     <div class="dropdown-menu">
     <a class="dropdown-item" href="#">Participate in the City Awareness Campaign</a>
     <a class="dropdown-item" href="#">Conduct a Social Media Campaign</a>
     <a class="dropdown-item" href="volunteer/">Connect us with some Industry to train them</a>
      <a class="dropdown-item" href="volunteer/">Donate various equipments like computers, or anything that's required to attain some skills</a>
     <a class="dropdown-item" href="volunteer/">Volunteer for training them with various skills</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="#">Donate Money</a>
     </div>
     </div>
	 
     </div>
     </div>


     <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://i.postimg.cc/ydyq6PFp/anti-child-labour-day-2.jpg" alt="Card image cap">
     <div class="card-body">
     <h5 class="card-title">Help us to eradicate Child labour completely from the society</h5>
     <p class="card-text">Every child deserves a good cheerful childhood, but in the age where they're supposed to study and enjoy, they work. Join us to provide them a great childhood. Your small contribution can make a differenece in their life. </p>
      
	   <!-- dropdown -->
     <div class="btn-group">
     <button type="button" class="btn btn-primary">Contribute</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="sr-only">Toggle Dropdown</span>
     </button>
     <div class="dropdown-menu">
     <a class="dropdown-item" href="#">Participate in City Awareness Campaign</a>
     <a class="dropdown-item" href="#">Conduct a Social Media Campaign</a>
     <a class="dropdown-item" href="#">Report to us or to any organization working to eradicate child labour, if you find any child labourers employed around you.</a>
      <a class="dropdown-item" href="volunteer/">Volunteer with us to eradicate child labour</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="#">Donate Money</a>
     </div>
     </div>
	 
     </div>
     </div>
	 
	 
	 
	 
	<div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://i.postimg.cc/15xW76wf/dirt-road-forest-landscape-163703.jpg" alt="Card image cap">
     <div class="card-body">
     <h5 class="card-title">Help Planting more Trees</h5>
     <p class="card-text">Join us to increase the number of tress, as trees are very vital for the existence of our environment. They reduce the CO2 concentration and help in making the air clean to breathe. Hence, they contribute in reducing various diseases due to air pollution.</p>
     
	  <!-- dropdown -->
     <div class="btn-group">
     <button type="button" class="btn btn-primary">Contribute</button>
     <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="sr-only">Toggle Dropdown</span>
     </button>
     <div class="dropdown-menu">
     <a class="dropdown-item" href="#">Participate in City Awareness Campaign</a>
     <a class="dropdown-item" href="#">Conduct a Social Media Campaign</a>
     <a class="dropdown-item" href="#">Participate in Tree Plantation drive</a>
     <a class="dropdown-item" href="volunteer/">Donate Tree saplings</a>
     <a class="dropdown-item" href="volunteer/">Volunteer with us</a>
     <a class="dropdown-item" href="#">Share your tree plantation stories with us.</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="#">Donate Money</a>
     </div>
     </div>
	 
     </div>
     </div>

     </div>
 

</body>
</html> 
 